@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap");

.B1 {
  margin-top: 5%;
  padding: 10% 0 10% 0;
  background-repeat: no-repeat;
  background-size: 1300px 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.438), rgba(73, 54, 54, 0.452)),
    url("./img/h.jpg");

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  border-radius: 20px;
  margin: 10% 5% 5% 5%;
}
.B2 {
  margin-top: 5%;
  padding: 6% 0 6% 0%;
  background-repeat: no-repeat;
  background-size: 100px 200px;
  background: linear-gradient(rgba(0, 0, 0, 0.438), rgba(73, 54, 54, 0.452)),
    url("./hostelpics/21.jpg");
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  border-radius: 20px;
  margin: 10% 5% 5% 5%;
}
.B3 {
  margin-top: 5%;
  padding: 6% 0 6% 0%;
  background-repeat: no-repeat;
  background-size: 100px 200px;
  background: linear-gradient(rgba(0, 0, 0, 0.438), rgba(73, 54, 54, 0.452)),
    url("./hostelpics/33.jpg");
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  border-radius: 20px;
  margin: 10% 5% 5% 5%;
}
.B1-img {
  width: 65%;
  border-radius: 10px;
}
.B1-img-sec {
  margin: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.B1-head {
  font-size: 3rem;
  font-weight: 900;
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.Share-head {
  font-size: 1.5rem;
  margin: 3%;
  font-family: "Montserrat", sans-serif;
}
.Share-img-1 {
  width: 7%;
  height: 60px;
  margin: 3% 10% 0 0;
}
.Share-img-2 {
  width: 12%;
  height: 50px;
  margin: 0 9% 0 0;
}
.Share-img-3 {
  width: 12%;
  height: 50px;
}

.Share-grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px;
  /* background-color: #2196f3; */
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px;
  margin: 0 30% 0 30%;
}

.Share-grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 30px;
  /* width: 40%; */
  height: fit-content;
  /* margin: 0 0 0 10%; */
}
/* @media (max-width: 600px) {
  .Share-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .Share-grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
} */
.Share-r-info {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

.Share-info {
  padding: 0 5% 5% 5%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
}
.Share-s {
  /* color: rgb(17, 242, 46); */
  color: crimson;
}

.Share-grid2-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 1%;
  background-color: #fff;
  padding: 0 5% 0 5%;
}
@media (max-width: 600px) {
  .Share-grid2-container {
    grid-template-columns: repeat(3, 1fr);
    padding: 3%;
  }
}
@media (min-width: 800px) {
  .Share-grid2-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.Share-grid2-container > div {
  background-color: #fff;
  /* border: 2px solid rgb(97, 241, 97); */
  text-align: center;
  margin: 3%;
  border-radius: 10px;
}
.Share-grid2-container > div > img {
  width: 100%;
  border-radius: 10px;
}

/* -------------------------------Mess department------------------------- */
.Mess-icon {
  width: 47%;
  margin-left: 12%;
}

.Mess {
  margin-top: 5%;
}
.Mess-h-sec {
  display: flex;
}
.Mess-head {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  font-weight: 900;
  margin: 5% 0 0 10%;
}
.Mess-head2 {
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  font-weight: 400;
  margin: 0% 0 0 10%;
}
.Mess-head-sec {
  margin: 10% 0 0 5%;
}
.Mess-hs {
  margin-left: 7%;
}
.Mess-info {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  padding: 0 10% 0 11%;
  color: rgb(75, 74, 74);
}
.Mess-f1 {
  width: 60%;
  margin: 0 0 0 0;
}
.Mess-p {
  width: 30%;
  margin: 0 0 0 70%;
  margin-top: -25%;
}
.Mess-dep {
  width: 80%;
  height: fit-content;
  margin: 0 5% 7% 12%;
  border-radius: 10px;
  margin-top: -60%;
  /* background-color: #08aeea;
  background-image: linear-gradient(0deg, #08aeea 0%, #2af598 73%); */

  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.Mess-d-head {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  margin-left: 5%;
}
.Mess-d-head1 {
  font-size: 1rem;
  font-weight: 300;
  color: rgb(247, 48, 48);
}
.Mess-menu-head {
  padding: 2%;
}

th,
td {
  /* background-color: rgb(239, 250, 250); */
  border: 1px solid black;
  border-collapse: collapse;
  font-family: "Montserrat", sans-serif;
  padding: 1% 2% 1% 2%;
  font-size: 1rem;
  /* border-radius: 4px; */
  width: 10%;
}
.Mess-menu {
  padding: 0 10% 0 10%;
  margin: 2% 0 5% 0%;
}
.Mess-menu-line {
  display: none;
}
.Mess-c-students {
  display: flex;
  flex-direction: row;
  padding: 1% 1% 5% 10%;
}
.Mess-c-students > div > span {
  margin: 0 0% 0 5%;
}
.Mess-c-students > div {
  font-family: "Montserrat", sans-serif;
  padding: 3% 3% 3% 5%;
}
.Mess-ds {
  padding: 2% 10% 2% 15%;
}
/* -----------------------------Mess pics--------------- */
.Messpic {
  padding: 0 5% 0 5%;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 40px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 10px;
}
.FF-head {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}
.FF {
  margin: 10% 0 10% 0;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
  .Messpic {
    padding: 0;
  }
}

@media only screen and (max-width: 500px) {
  .B1 {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 25% 5% 10% 5%;
  }
  .B1-head {
    font-size: 2rem;
  }
  .Share-info {
    font-size: 1rem;
  }
  .Share-r-info {
    font-size: 1rem;
  }
  .Share-grid-container {
    margin: 5%;
  }

  .Share-d2 {
    height: 200px;
  }

  /* ---------------------------Mess department -----------*/

  .Mess {
    width: 100%;
  }
  .Mess-icon {
    width: 50%;
    margin: 0;
    z-index: -1;
  }
  .Mess-head {
    margin: 50% 0 0 5%;
    font-size: 1.6rem;
  }
  .Mess-head2 {
    margin: 0 0 0 5%;
    font-size: 1.6rem;
  }
  .Mess-info {
    font-size: 0.7rem;
    padding: 0 0 0 5%;
  }
  .Mess-h-sec {
    margin: 0 0 15% 0;
  }
  .Mess-f1 {
    width: 80%;
    margin-bottom: -90%;
  }
  .Mess-dep {
    width: 90%;
    margin: 0 0 0 7%;
  }
  .Mess-p {
    width: 50%;
    margin: 0 0 0 51%;
    margin-top: -30%;
  }
  .Mess-d-head {
    font-size: 1.2rem;
  }
  .Mess-menu {
    margin: 5% 0 5% 1%;
  }
  th,
  td {
    display: none;
  }
  .Mess-c-students {
    display: flex;
    flex-direction: column;
  }
  .Mess-c-students > div {
    padding: 0;
    margin: 0;
  }
  .Mess-c-students > div > span {
    margin: 0;
    padding: 2%;
    font-size: 0.8rem;
  }
  .Mess-ds {
    font-size: 0.8rem;
  }
  .Mess-d-head {
    font-size: 1.2rem;
  }
  .Mess-d-head1 {
    font-size: 0.6rem;
  }
  .Messpic {
    margin: 10% 0 0 0;
  }
  /* ------------------ */
  .FF-head {
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
  }
  .FF {
    margin: 25% 0 10% 0;
  }
}
